:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

 background: radial-gradient(circle, rgba(0,42,113,1) 0%, rgba(0,0,0,1) 34%);;
background-repeat: no-repeat;

 
}
 